<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户添加</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
    <form role="form" action='add' method="post" enctype="multipart/form-data" onsubmit='return checkUser()'>
        <div><input type="hidden" name="id"></div>
        <div class="form-group" id="userDiv">
        <label for="name">用户名：</label><input class="form-control" type="text" name="username">
        </div>
        <div class="form-group" id="pswDiv">
        <label>密码：</label><input class="form-control" type="password" name="password">
        </div>
        <div class="form-group">
        <label>头像：</label><input class="form-control" type="file" name="headerImg">
        </div>
        <div class="form-group"><input class="btn btn-primary" id="loginBtn"  type='submit' value='确定 '/></div>
    </form>
    <script src='../js/myajax.js'></script>
    <script>
        var isCheckSucess = false;
        var userInput = document.getElementsByName('username')[0];
        var pswInput = document.getElementsByName('password')[0];
         var userDiv=document.getElementById('userDiv');
         var pswDiv=document.getElementById('pswDiv');
         var span=document.createElement('span');
          pswInput.onblur=function(){
            pswDiv.appendChild(span);//dom动态在pswDiv后面创建span标签
            // 1. 密码非空检查
            if(pswInput.value==''){
                isCheckSucess = false;// 检查密码不能为空，不允许提交
                span.style.color = 'red';
                span.innerHTML = '密码不能为空'; 
                return false;
            }else{
                isCheckSucess = true;
                span.innerHTML=''; 
            }
        }
        userInput.onblur =function(){
            userDiv.appendChild(span);//dom动态在userDiv后面创建span标签
            // 1. 用户名非空检查
            if(userInput.value==''){
                isCheckSucess = false;// 检查用户名不能为空，不允许提交
                span.style.color = 'red';
                span.innerHTML = '用户名不能为空'; 
                return false;
            }else{
                isCheckSucess = true;// 检查用户名不存在,允许提交
                span.innerHTML=''; 
            }
            // 向服务器发送ajax异步请求，检查用户名是否已经存
            myajax({
                method:'get',
                url:'/checkuser?username='+userInput.value,
                success: function(e){
                    var jsonObj = JSON.parse(e);
                    if(jsonObj.code === 1){
                        // DOM操作 添加提示元素
                        isCheckSucess = false; // 检查用户名已经存在，不允许提交
                        span.style.color = 'red';
                        span.innerHTML = jsonObj.msg; 
                    }else{
                        isCheckSucess = true; // 检查用户名不存在,允许提交
                        span.innerHTML=''; 
                        // 移除提示元素
                    }
                }
            });
        }
   
    function checkUser(){
        return isCheckSucess;
    }
     </script>
</body>
</html>